*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*



src/test/
target/
src/main/java/net/i2it/hit/hit_alumni/constant/ConfigConsts.java
src/main/webapp/WEB-INF/MP_verify_rkHrUZkg16fUIqT2.txt
# ignored when using intellij idea
.idea/
out/
hit-alumni.iml
# ignored when using eclipse
.settings/
.classpath
.project
