body {
    font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
    background-color: #F8F8F8;
}

.hd {
    height: 44px;
    line-height: 44px;
    text-align: center;
    background-color: #2A4F86;
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
}

.bd-m-t {
    margin-top: 50px;
}

.btn-c {
    background-color: #1676A7;
}

.input-disabled {
    background-color: #F8F8F8;
}